<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <akka>
    <hocon>
      <![CDATA[
akka {
  stdout-loglevel = INFO
  loglevel = INFO
  log-config-on-start = on        
  actor {
    debug {  
      lifecycle = on
      unhandled = on
    }
    smallest-mailbox-pool {
      type = Dispatcher
      throughput = 100
    }
  }
}
      ]]>
    </hocon>
  </akka>
</configuration>